.three-signs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .thumb-box {
    background-color: black;
    border: 1px black solid;
    height: 140px;
    width: 140px;

    canvas {
      width: 140px;
      height: 140px;
    }
  }
}

.camera {
  transform: scaleX(-1);
}

.webcam-box-outer {
  background: black;
  border: 1px solid #585858;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  padding: 9px;

  .webcam-box-inner {
    border: 1px solid #585858;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 160px;
  }

  video {
    height: 160px;
  }
}
