<div id="status" #status *ngIf="predictingVisible">Loading mobilenet...</div>
<div class="controller-panels" id="controller" #controller style="display:none">
  <div class="panel training-panel">
    <!-- Big buttons. -->

    <div class="panel-row params-webcam-row">
      <!-- Hyper params. -->
      <div class="hyper-params">
        <!-- Learning rate -->
        <div class="dropdown">
          <label>Learning rate</label>
          <div class="select">
            <select #learningRate type="number" [(ngModel)]="learningRateSel">
              <option *ngFor="let opt of learningRates" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Batch size -->
        <div class="dropdown">
          <label>Batch size</label>
          <div class="select">
            <select #batchSizeFraction type="number" [(ngModel)]="batchSizeSel">
              <option *ngFor="let opt of batchSizes" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Epochs -->
        <div class="dropdown">
          <label>Epochs</label>
          <div class="select">
            <select #epochs type="number" [(ngModel)]="epochSel">
              <option *ngFor="let opt of epochsOptions" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Hidden units -->
        <div class="dropdown">
          <label>Hidden units</label>
          <div class="select">
            <select #denseUnits type="number" [(ngModel)]="denseSel">
              <option *ngFor="let opt of hiddenUnits" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- /.hyper-params -->

      <div class="webcam-box-outer">
        <div class="webcam-box-inner">
          <video
            autoplay
            playsinline
            muted
            id="webcam"
            #webcam
            width="224"
            height="224"
          ></video>
        </div>
      </div>
    </div>
    <!-- /.panel-row -->
  </div>
  <!-- /.panel -->
  <div class="signs">
    <p class="help-text">
      Add here a sequence of three secret signs you are going to use in order to
      access your secret personal space! In the end, add a neutral sign, too,
      for reference.
    </p>
    <div class="signs-examples">
      <div class="thumb-box">
        <p>First Secret Sign</p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas class="thumb" width="224" height="224" #firstThumb></canvas>
          </div>
          <button class="record-button" #first (click)="handler(0)">
            <span>Add Sample</span>
          </button>
        </div>
      </div>

      <div class="thumb-box">
        <p>Second Secret Sign</p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas
              class="thumb"
              width="224"
              height="224"
              #secondThumb
            ></canvas>
          </div>
          <button class="record-button" #second (click)="handler(1)">
            <span>Add Sample</span>
          </button>
        </div>
      </div>

      <div class="thumb-box">
        <p>Third Secret Sign</p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas class="thumb" width="224" height="224" #thirdThumb></canvas>
          </div>
          <button class="record-button" #third (click)="handler(2)">
            <span>Add Sample</span>
          </button>
        </div>
      </div>

      <div class="thumb-box">
        <p>Neutral</p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas
              class="thumb"
              width="224"
              height="224"
              #controlThumb
            ></canvas>
          </div>
          <button class="record-button" #control (click)="handler(3)">
            <span>Add Sample</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="big-buttons">
    <button mat-raised-button color="primary" (click)="trainBtn()">
      <span id="train-status">{{ trainStatus }}</span>
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="predictBtn()"
      [disabled]="!doneTraining"
    >
      <span *ngIf="!isPredicting">CHECK</span
      ><span *ngIf="isPredicting">STOP</span>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="saveModel()"
      [disabled]="!doneTraining"
    >
      DOWNLOAD MODEL
    </button>
  </div>
  <p *ngIf="currentMove">
    You are currently doing the <strong>{{ currentMove }}</strong> sign.
  </p>
</div>
<div class="all-buttons">
  <p>
    Now that your model is saved and downloaded properly, you can save it in
    your profile, so that you can use it to centeryour personal space the next
    time you sign in.
  </p>
  <p>First, upload the file called 'sign-model.json' here:</p>
  <div class="file-uploads">
    <div>
      <input type="file" #moodFile />
      <button mat-icon-button color="primary">
        <mat-icon
          aria-label="Upload the model file"
          (click)="uploadFile('json')"
          >cloud_upload</mat-icon
        >
      </button>
      <mat-icon *ngIf="uploadedjson" aria-label="Upload of the model file ok"
        >check</mat-icon>
    </div>
    <div>
      <input type="file" #weightsFile />
      <button mat-icon-button color="primary">
        <mat-icon
          aria-label="Upload the weights file"
          (click)="uploadFile('weights')"
          >cloud_upload</mat-icon
        >
      </button>
      <mat-icon *ngIf="uploadedweights" aria-label="Upload of the weights file ok"
        >check</mat-icon>
    </div>
  </div>
</div>
