<div id="status" #status *ngIf="predictingVisible">Loading mobilenet...</div>
<div class="controller-panels" id="controller" #controller style="display:none">
  <div class="panel training-panel">
    <!-- Big buttons. -->

    <div class="panel-row params-webcam-row">
      <!-- Hyper params. -->
      <div class="hyper-params">
        <!-- Learning rate -->
        <div class="dropdown">
          <label>Learning rate</label>
          <div class="select">
            <select #learningRate type="number" [(ngModel)]="learningRateSel">
              <option *ngFor="let opt of learningRates" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Batch size -->
        <div class="dropdown">
          <label>Batch size</label>
          <div class="select">
            <select #batchSizeFraction type="number" [(ngModel)]="batchSizeSel">
              <option *ngFor="let opt of batchSizes" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Epochs -->
        <div class="dropdown">
          <label>Epochs</label>
          <div class="select">
            <select #epochs type="number" [(ngModel)]="epochSel">
              <option *ngFor="let opt of epochsOptions" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>

        <!-- Hidden units -->
        <div class="dropdown">
          <label>Hidden units</label>
          <div class="select">
            <select #denseUnits type="number" [(ngModel)]="denseSel">
              <option *ngFor="let opt of hiddenUnits" [ngValue]="opt.num">{{
                opt.name
              }}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- /.hyper-params -->

      <div class="webcam-box-outer">
        <div class="webcam-box-inner">
          <video
            autoplay
            playsinline
            muted
            id="webcam"
            #webcam
            width="224"
            height="224"
          ></video>
        </div>
      </div>
    </div>
    <!-- /.panel-row -->
  </div>
  <!-- /.panel -->
  <div class="signs">
    <p class="help-text">
      Click to add the current camera view as an example for that control
    </p>
    <div class="signs-examples">
      <div class="thumb-box">
        <p>
          First Secret Sign
          </p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas class="thumb" width="224" height="224" #firstThumb></canvas>
          </div>
          <button class="record-button" #first (click)="handler(0)">
            <span>Add Sample</span>
          </button>
        </div>
        <p>{{ examples.up }} examples</p>
      </div>

      <div class="thumb-box">
        <p>
          Second Secret Sign
          </p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas
              class="thumb"
              width="224"
              height="224"
              #secondThumb
            ></canvas>
          </div>
          <button class="record-button" #second (click)="handler(1)">
            <span>Add Sample</span>
          </button>
        </div>
        <p>{{ examples.down }} examples</p>
      </div>

      <div class="thumb-box">
        <p>
          Third Secret Sign
          </p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas class="thumb" width="224" height="224" #thirdThumb></canvas>
          </div>
          <button class="record-button" #third (click)="handler(2)">
            <span>Add Sample</span>
          </button>
        </div>
        <p>{{ examples.left }} examples</p>
      </div>

      <div class="thumb-box">
        <p>
          Neutral
          </p>
        <div class="thumb-box-outer">
          <div class="thumb-box-inner">
            <canvas
              class="thumb"
              width="224"
              height="224"
              #controlThumb
            ></canvas>
          </div>
          <button class="record-button" #control (click)="handler(3)">
            <span>Add Sample</span>
          </button>
        </div>
        <p>{{ examples.right }} examples</p>
      </div>


    </div>
  </div>
  <div class="panel-row big-buttons">
    <button mat-raised-button color="primary" (click)="trainBtn()">
      <span id="train-status" #trainStatus>TRAIN MODEL</span>
    </button>
    <button mat-raised-button color="primary" (click)="predictBtn()">
      CHECK
    </button>
  </div>
</div>
<div class="all-buttons">
  <p>
    <button mat-raised-button color="primary" (click)="saveModel()">
      save trained model
    </button>
  </p>

  <p>
    <input matInput
      type="text"
      [(ngModel)]="fileName1"
      placeholder="Insert Mood name for File1"
    />
    <input type="file" #moodFile (change)="uploadFile($event, fileName1)" />
    <input matInput
      type="text"
      [(ngModel)]="fileName2"
      placeholder="Insert Mood name for File2"
    />
    <input type="file" (change)="uploadFile($event, fileName2)" />
  </p>

  <!-- <p>
    <button
      mat-raised-button
      color="primary"
      (click)="loadJson()"
      [disabled]="false"
    >
      load json
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="loadWeights()"
      [disabled]="!donejson"
    >
      load weights
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="loadModel()"
      [disabled]="!doneweights"
    >
      load saved model
    </button>
  </p> -->
</div>
