<h1>Welcome to SignLock</h1>
<p>
  SignLock is your most personal secret space, since it's unlocked by your
  secret hand signs!
</p>
<h1>Hello {{ user.displayName }}!</h1>
<button (click)="logout()" mat-raised-button color="primary">LOG OUT</button>
<div *ngIf="getStatus() | async">
  <p>
    <button routerLink="/personal">Log in</button> to your secret space
  </p>
</div>
<div *ngIf="!getStatus() | async">
  <p>
    <button routerLink="/create" mat-raised-button color="primary">Create a new sign step authentication</button>
  </p>
</div>
