<h1>Welcome to SignLock</h1>
<p>
  SignLock is your most personal secret space, since it's unlocked by your
  secret hand signs!
</p>
<h1>Hello {{ user.displayName }}!</h1>
<button (click)="logout()" mat-raised-button color="primary">LOG OUT</button>
<div *ngIf="statusJ && statusW">
  <p>
    <button routerLink="/personal" mat-raised-button color="primary">ENTER</button> your secret space
  </p>
</div>
<div *ngIf="!statusJ || !statusW">
  <p>
    <button routerLink="/create" mat-raised-button color="primary">CREATE A NEW SECRET SIGN SEQUENCE</button>
  </p>
</div>
